<div class="row tag-row">
  <%= tag_input(@project,"languages","Languages",@project.languages.join(",")) %>
  <%= tag_input(@project,"frameworks","Framework",@project.frameworks.join(",")) %>
  <%= tag_input(@project,"vcs","Version Control System",@project.vcs.join(",")) %>
</div>
<div class="row tag-row">
  <%= tag_input(@project,"build-tools","Build Tools",@project.build_tools.join(",")) %>
  <%= tag_input(@project,"ci","CI",@project.ci.join(",")) %>
  <%= tag_input(@project,"infrastucture-management-tools","Infrastructure Management",@project.infrastructure_tools.join(",")) %>
</div>
<div class="row tag-row">
  <%= tag_input(@project,"databases","Data Stores",@project.databases.join(",")) %>
  <%= tag_input(@project,"off-the-shelf-products","Off-The-Shelf Products",@project.off_the_shelf_products.join(",")) %>
  <%= tag_input(@project,"cloud-usage","Cloud Usage",@project.cloud_usage.join(",")) %>
</div>
<div class="row tag-row">
  <%= tag_input(@project,"operating-system","Operating Systems",@project.operating_system.join(",")) %>
</div>