<% if flash[:success] %>
	<div class="alert alert-success">
		<%= flash[:success] %>
	</div>
<% end %>

<div class="page-header">
  <h3><%= @project.name  %></h3>
</div>

<h4>About</h4>
<p id="about" class="well">
  Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
</p>

<ul class="nav nav-tabs" id="project-nav">
  <li class="active"><a href="#technical">Technical</a></li>
  <li><a href="#analysis">Analysis</a></li>
  <li><a href="#testing">Testing</a></li>
  <li><a href="#project-management">Project Management</a></li>
  <li><a href="#team">Team</a></li>
</ul>
 
<div id="project-details" class="tab-content">
  <div class="tab-pane active" id="technical">
    <div class="row">
      <div id="language" class="span4">
        <h5>
          Languages
          <button id="language-edit-icon" title="edit" class="edit-icon btn btn-primary btn-mini" >edit</button>
          <button id="language-done-icon" title="done" class="done-icon btn btn-success btn-mini hide" href='<%= "/projects/#{@project.id}/languages"%>'>save</button>
        </h5>
        <div id="language-tags-container" class="clearfix"></div>
        <input id="input-language" type="text" name="language-tags" placeholder="add language" value="<%= @project.languages.join(",")%>" class="language-tag-manager tagManager"/>
      </div>
      <div id="framework" class="span4">
        <h5>
          Frameworks
          <button id="language-edit-icon" title="edit" class="edit-icon btn btn-primary btn-mini" >edit</button>
          <button id="language-done-icon" title="done" class="done-icon btn btn-success btn-mini hide" href='<%= "/projects/#{@project.id}/frameworks"%>'>save</button>
        </h5>
        <div id="framework-tags-container" class="clearfix"></div>
        <input id="input-framework" type="text" name="framework-tags" placeholder="add framework" value="<%= @project.frameworks.join(",")%>" class="framework-tag-manager tagManager"/>
      </div>
      <div id="vcs" class="span4">
        <h5 class="">
          VCS
          <button id="language-edit-icon" title="edit" class="edit-icon btn btn-primary btn-mini" >edit</button>
          <button id="language-done-icon" title="done" class="done-icon btn btn-success btn-mini hide" href='<%= "/projects/#{@project.id}/vcs"%>'>save</button>
        </h5>
        <div id="vcs-tags-container" class="clearfix"></div>
        <input id="input-vcs" type="text" name="vcs-tags" placeholder="add vcs" value="<%= @project.vcs.join(",")%>"class="vcs-tag-manager tagManager"/>
      </div>
    </div>
    <div class="row">
      <div class="span12">
      <div class="page-header sub-heading">
        <h5>Content</h5>
      </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="analysis">...</div>
  <div class="tab-pane" id="testing">...</div>
  <div class="tab-pane" id="project-management">...</div>
  <div class="tab-pane" id="team">...</div>
</div>
